<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ycbjie.ycaudioplayer">

    <!--权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--给aidl多进程通信，服务加入权限验证功能-->
<!--    <permission android:name="aidl.AppInfoService"-->
<!--        android:protectionLevel="normal"/>-->

    <!--编译报错：Manifest merger failed : Attribute application@label value=(@string/app_name)-->
    <!--该错误的原因是工程A和工程B中的AndroidManifest.xml文件中都使用了app name，合并manifest的过程出现了问题。-->
    <!--解决办法： tools:replace="android:icon,android:label"-->
    <!--如果需要使用差异化打包-->
    <application
        android:name="com.yc.ycaudioplayer.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:icon,android:label"
        android:theme="@style/AppTheme">

        <activity android:name="com.yc.ycaudioplayer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yc.ycaudioplayer.video.CameraMainActivity"/>
        <activity android:name="com.yc.ycaudioplayer.audio.AudioRecordActivity"/>
    </application>

</manifest>