<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ycbjie.ycaudioplayer">

    <!--权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--编译报错：Manifest merger failed : Attribute application@label value=(@string/app_name)-->
    <!--该错误的原因是工程A和工程B中的AndroidManifest.xml文件中都使用了app name，合并manifest的过程出现了问题。-->
    <!--解决办法： tools:replace="android:icon,android:label"-->
    <application
        android:name=".base.app.BaseApplication"
        android:allowBackup="true"
        android:icon="${app_player_icon}"
        android:label="${app_player_name}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:icon,android:label"
        android:theme="@style/AppTheme">


        <activity android:name=".ui.guide.ui.SplashPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.guide.ui.GuideActivity"/>
        <activity android:name=".ui.main.ui.activity.MainActivity"/>
        <activity android:name=".ui.guide.ui.SplashAdActivity"/>
        <activity android:name=".ui.guide.ui.SplashMvActivity"/>
        <activity android:name=".ui.music.local.view.MusicInfoActivity" />
        <activity android:name=".ui.music.onLine.view.OnlineMusicActivity"/>
        <activity android:name=".ui.music.onLine.view.ArtistInfoActivity"/>
        <activity android:name=".ui.main.ui.activity.SearchMusicActivity"/>
        <activity android:name=".ui.advert.AdvertActivity"/>
        <activity android:name=".ui.advert.AdvertDetailActivity" />
        <activity android:name=".ui.me.view.activity.MeSettingActivity"/>
        <activity android:name=".ui.detail.view.activity.DetailVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.lock.LockAudioActivity"
            android:noHistory="false"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/LockScreenTheme"/>
        <activity android:name=".DebugActivity"/>
        <activity android:name=".kotlin.view.activity.AndroidActivity"/>

        <service android:name=".service.PlayService" />
        <service android:name=".service.KillSelfService"/>
        <service android:name=".service.AppLogService"/>
        <service android:name=".service.AppInfoService"
            android:process=":remote"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.ycbjie.ycaudioplayer.service.aidl.AppInfoService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>


        <receiver android:name=".receiver.NotificationStatusBarReceiver">
            <intent-filter>
                <action android:name="YC_ACTION_STATUS_BAR" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.EarphoneControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AudioBroadcastReceiver">
            <intent-filter>
                <action android:name="cn.ycbjie.lock" />
            </intent-filter>
        </receiver>

    </application>

</manifest>